# Virtual environments
venv/
.venv/
6g/
6g_env/

# Python cache
__pycache__/
*.pyc

# VSCode settings
.vscode/

*.pth
*.pt
checkpoints/
# Dataset folders (if large)
Dataset/
*.csv
*.pt
*.npy

# OS files
.DS_Store
Thumbs.db

Splits/